<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="APA AFTER-NIGHT" content="BUSCADOR DE TELOS, TELOS SEARCH ENGINE, TELOS ARGENTINA, ARGENTINA, CABA, TELOS-CABA">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('../partials/head'); %>
        <link rel='stylesheet' href='/stylesheets/style.css' type="text/css" />
        <link rel='stylesheet' href='/stylesheets/style_landingUser.css' type="text/css" />
        <title>APA!
            <%= title %>
        </title>
        <!--FONT AWESOME  -->
        <script src="https://kit.fontawesome.com/0c502158eb.js" crossorigin="anonymous "></script>
</head>

<body class="bodyPage bg-light">
    <%- include('../partials/navbarTop'); %>
        <div class="div2 bg-01">
            <section id="hero" class="bg-light">
                <div class="row g-0 h-100 bg-light">
                    <div class="col-lg-6 d-flex bg-light">
                        <div class="content mx-auto align-self-center px-4 my-5">
                            <div class="d-block mb-3"><span class="badge bg-custom-02 me-2">Nuevo</span><span class="text-secondary">haga tu cadastro en el</span><strong> CLUB!</strong>
                            </div>
                            <h1 class="display-4 mb-4"><span class="apa-name"> APA!</span> After Night<span class="apa-name">.</span>
                                <p class="lead mb-4">Dile adiós a los buscadores Complicados en el momento del placer tenga toda la info facil y practica en tus manos</p>
                                <a href="/usuarios/crearCuenta" class="btn btn-primary mb-5">Abre tu cuenta hoy</a>
                                <div class="d-flex">
                                    <div class="d-flex me-2">

                                    </div>
                                    <div class="d-flex me-4">
                                        <img src="images/svg/icoon01.svg" class="me-8 image-responsive" max-height="15px">
                                        <div>
                                            <small>Placer</small>
                                            <p class="fw-bold mb-0">Facil</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex bg-light bg-custom-lu">
                        <div class="content mx-auto align-self-center px-1 my-2 bg-custom-lu">
                            <img src="https://live.staticflickr.com/65535/51885269432_5f9573f335_o.png" class="img-fluid" max-height="320px" style="margin-top: -9px;">
                        </div>
                    </div>
                </div>
            </section>

            <section class="d-flex py-4 bg-light">
                <div class="container align-self-center">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="content mx-auto px-4 my-5">
                                <img src="https://live.staticflickr.com/65535/51927391197_7bebdba3a9_o.png" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex">
                            <div class="align-self-center my-5 px-4">
                                <h2 class="display-4 fw-bold mb-5">CONOZCA los <span class="text-primary">BENEFICIOS</span> EXCLUSIVOS!</h2>

                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex mb-4">
                                        <p class="lead fw-bold text-dark d-flex step">1</p>
                                        <div class="ms-3">
                                            <p class="lead fw-bold text-primary">Crea tu cuenta.</p>
                                            <p>Es muy sencillo, solamente ingresa desde de tu celular o cumpu y haga el cadastro.</p>
                                        </div>
                                    </li>
                                    <li class="d-flex mb-4">
                                        <p class="lead fw-bold text-dark d-flex step">2</p>
                                        <div class="ms-3">
                                            <p class="lead fw-bold text-primary">LISTO!</p>
                                            <p>En tu cuenta apareceran beneficios del <strong class="text-primary">APA! Socio</strong> .</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="d-flex py-5">
                <div class="container align-self-center">
                    <div class="bg-light call-to-action">
                        <div class="row">
                            <div class="col-lg-7 d-flex">
                                <div class="align-self-center p-5">
                                    <h2 class="display-4 fw-bold mb-4">Manda y recibe <span class="text-primary">RESULTADOS</span> al instante<span class="text-primary">.</span></h2>
                                    <p class="lead mb-4">Tu dinero esta seguro en todo momento, puedes consultar todos los movimientos de tu cuenta directamente desde tu celular.</p>
                                    <a href="/usuarios" class="btn btn-primary">Haga tu login Ahora!</a>
                                </div>
                            </div>
                            <div class="col-lg-5 d-flex">
                                <div class="align-self-center text-center mx-auto py-6">
                                    <img src="/images/svg/icoon04.svg" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="d-flex py-0">
                <div class="container align-self-center">
                    <h2 class="display-4 fw-bold">Destaques<span class="apa-name">.</span></h2>
                    <p class="lead mb-5">Comienza a navegar en el punto que deseas asi de facil</p>
                    <div class="row gx-5">
                        <div class="col-lg-4 py-0">
                            <a href="/productos/ofertas" class="text-decoration-none">
                                <img src="/images/svg/icoon05.svg" class="img-fluid" style="min-width: 320px; align-content: center;">
                                <div class="d-flex mb-4">
                                    <p class="flex-grow-1 text-dark mb-4">2022</p>
                                    <p class="text-dark mb-0">Ofertas</p>
                                </div>
                                <p class="lead text-dark fw-bold mb-4">Las ofertas saber antes de reservar su Turno o Pernocte</p>
                                <p class="text-primary fw-bold">Buscar Ofertas<i class="fas fa-arrow-right ms-2"></i></p>
                            </a>
                        </div>
                        <div class="col-lg-4 py-0">
                            <a href="/productos" class="text-decoration-none">
                                <img src="/images/svg/icoon03.svg" class="img-fluid mb-4" style="min-width: 320px; align-content: center;">
                                <div class="d-flex mb-4">
                                    <p class="flex-grow-1 text-dark mb-0">2022</p>
                                    <p class="text-dark mb-0">Mejor Eleccion </p>
                                </div>
                                <p class="lead text-dark fw-bold mb-4">Te damos la FACILIDAD para BUSCAR APA y encontrar lo mejor de la Comuna</p>
                                <p class="text-primary fw-bold">Comunas APA <i class="fas fa-arrow-right ms-2"></i></p>
                            </a>
                        </div>
                        <div class="col-lg-4 py-0">
                            <a href="/usuarios/crearCuenta" class="text-decoration-none">
                                <img src="/images/svg/icoon02.svg" class="img-fluid mb-4" style="min-width: 320px; align-content: center;">
                                <div class="d-flex mb-4">
                                    <p class="flex-grow-1 text-dark mb-0">2022</p>
                                    <p class="text-dark mb-0">Beneficios APA</p>
                                </div>
                                <p class="lead text-dark fw-bold mb-4">Te damos 5 razones para invertir en la Bolsa de Valores</p>
                                <p class="text-primary fw-bold"> Crear Cuenta <i class="fas fa-arrow-right ms-2"></i></p>
                            </a>
                        </div>

                        <%- include('../partials/footer'); %>
                    </div>
            </section>
            </div>
            <%- include('../partials/navbarBottom'); %>
</body>

</html>